<div class="collection-not-found d-flex align-items-center justify-content-center w-100 p-5">
    <i class="icon mr-5">
        <i class="material-icons md-36">search</i>
    </i>
    <div class="d-flex flex-column">
        <div class="h1 mb-4">Nenhum resultado encontrado</div>
        <span class="text mt-2">Verifique se não houve erro de digitação.</span>
        <span class="text mt-2">Procure por um termo similar ou sinônimo.</span>
        <span class="text mt-2">Tente procurar termos mais gerais e filtrar o resultado da busca.</span>
    </div>
</div>