<div class="smart-search-result position-absolute">
    <div class="smart-search-term p-3 d-flex align-items-center justify-content-center flex-wrap">
        <span class="label">Produtos recomendados</span>
    </div>
    <div class="result__search">
        <ul class="result-list" dc-scroll>
        </ul>
    </div>
    <div class="d-flex align-items-center justify-content-center p-3">
        <button class="smart-all-results d-block w-100" type="submit">visualizar todos os resultados</button>
    </div>
</div>
