{% set search_custom_img = (version) ? section.settings.search_custom_light : section.settings.search_custom %}

<div class="smart-search slide">
    <div class="row justify-content-center">
        <form class="smart-form" method="get" action="{{ 'produtos' | url }}">
            <div class="smart-close h-hl-color">
                <i class="icon">{{ 'img/close.svg' | svg }}</i>
            </div>
            <input name="q" type="text" class="smart-input text-left" placeholder="O que você procura ?" style="border-color: {{ color_border }};">
            <button type="submit" class="smart-button btn">
                <i class="h-hl-color icon">
                    {% if search_custom_img %}
                        <img loading="lazy" src="{{ search_custom_img | img_url }}" alt="Search" class="img-fluid">
                    {% else %}
                        <i class="material-icons md-36">search</i>
                    {% endif %}
                </i>
            </button>
            
            {% include 'smart-search-result.twig' %}
        </form>
    </div>
</div>

{% javascript %}
    $(function() {
        var main = $('.smart-search.slide');
        var button = main.find('.smart-button');
        var input = main.find('.smart-input');
        var form = main.find('.smart-form');
        var close = main.find('.smart-close');

        var header = $('.header');

        form.submit(function(e) {
            var input_value = input.val().length;

            if (input_value <= 0) {
                e.preventDefault;
                input.toggleClass('open');
                close.toggleClass('open');
                input.focus();
                return false;
            }
        });

        $(window).scroll(function() {
            if ($(this).scrollTop() > header.height()) {
                input.val('');
                input.removeClass('open');
                close.removeClass('open');
            }
        });

        close.click(function() {
            input.val('');
            input.removeClass('open');
            $(this).removeClass('open');
        });

    });
{% endjavascript %}
