{% set search_custom_img = (version) ? section.settings.search_custom_light : section.settings.search_custom %}

<div class="smart-search">
    <div class="row justify-content-center no-gutters">
        <form class="smart-form position-relative" method="get" action="{{ 'produtos' | url }}">
            <input class="smart-input rounded pl-4 pr-4" type="text" name="q" placeholder="Olá, o que você procura?" aria-label="Olá, o que você procura?" style="border-color: {{ color_border }}">
            <button class="smart-button position-absolute" type="submit" aria-label="Procurar">
                <i class="{% if section_highlight %}h-hl-color{% else %}h-sc-color{% endif %} icon">
                    {% if search_custom_img %}
                        <img loading="lazy" src="{{ search_custom_img | img_url }}" alt="Search" class="img-fluid">
                    {% else %}
                        <i class="material-icons md-36">search</i>
                    {% endif %}
                </i>
            </button>

            {% include 'smart-search-result.twig' %}
        </form>
    </div>
</div>
