
.product-counter-individual {
    .product-final-stock {
        color: $color-secondary;
        font-size: 2.6rem;
    }

    .product-balance-text {
        font-size: 1.3rem;
        color: $color-primary;
        letter-spacing: 0;
    }

    .product-indiviual-title {
        color: $text-color-secondary;

        .title {
            text-transform: uppercase;
            letter-spacing: 0;
            font-size: 1.8rem;
        }

        .subtitle {
            font-size: 1.3rem;
            letter-spacing: 0;
        }
    }

    .countdown {
        color: $text-color-secondary;
        font-family: $h1-ff;
        font-weight: $h1-fw;
        font-size: $h1-cs;

        .col {
            padding-bottom: 1.7rem;
        }

        .h1 {
            width: 3rem;
            height: 4rem;
            border-radius: .2rem;
            font-size: 1.8rem;
            letter-spacing: 0 !important;
        }

        .countdown-time {
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: lowercase;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            margin: 0;
        }

        .countdown-separator {
            top: -.8rem;
        }
    }

    .product-counter-individual-bg {
        top: 0;
        bottom: 0;
        width: 50vw;

        @include media-breakpoint-down('md') {
            display: none;
        }

        &:nth-child(1) {
            background: $body-bg;
        }

        &:nth-child(2) {
            background: $color-primary;
            right: 0;
        }
    }

    .product-counter-individual-row {
        z-index: 20;

        &.border-top-row {
            .before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 50%;
                z-index: 10;
            }

            .after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 80%;
                z-index: 10;
            }
        }

        .container-fluid {
            position: relative;
            z-index: 20;
        }
    }

    .product-counter-individual-counter {
        background: $body-bg;

        &:first-of-type {
            border-top: 0;
        }

        border-top: solid .1rem $border-color;
    }

    .product-counter-individual-discount {
        position: relative;
        min-width: 9rem;
        min-height: 9rem;
        background-color: $color-secondary;
        border-radius: 100%;
        color: $text-color-secondary;

        @include media-breakpoint-down('md') {
            position: absolute;
            width: 6rem;
            height: 6rem;
            top: 0;
            left: 9rem;
        }

        &:before {
            content: '';
            position: absolute;
            top: .6rem;
            left: .6rem;
            right: .6rem;
            bottom: .6rem;
            background: $color-secondary;
            border-radius: 100%;
            box-shadow: inset 0 0 0 .4rem $body-bg;
        }

        .h2 {
            position: relative;
            z-index: 15;
            line-height: .9;
            letter-spacing: 0;
            text-indent: 0;

            @include media-breakpoint-down('md') {
                font-size: 1.2rem;
            }
        }
    }

    .product-counter-individual-title {
        color: $color-primary;
    }

    .product-counter-individual-pricediscount {
        font-family: $h1-ff;
        font-weight: 600;
        text-transform: uppercase;
    }

    .product-counter-individual-only {
        background: $color-primary;
        color: $text-color-secondary;

        .h1 {
            font-size: 1.4rem;
        }
    }

    .product-counter-individual-pricefinal {
        font-size: 2.6rem;
    }

    .in-cash {
        font-size: 1.3rem;
        letter-spacing: 0;
    }

    .countdown-btn {
        font-family: $h1-ff;
        font-weight: $h1-fw;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $text-color-secondary;
    }

    .product-counter-individual-countdown {
        @include media-breakpoint-down('md') {
            background: $color-primary;
        }
    }

    // .product-counter-individual {
    //     .container-fluid.p-0 {
    //         border-top: solid .1rem $border-color;
    //     }
    // }

    .product-counter-individual-img {
        .placeholder {
            max-width: 10rem;
        }
    }
}