<div class="col p-3">
    <div class="row align-items-center justify-content-start">
        <div class="col-6 col-md-3">
            <div class="pcbuilder-no-selected p-3">
                <div class="pcbuilder-no-image h-100 d-flex align-items-center justify-content-center">
                    <i>{{ 'img/dc-icons/ban.svg' | svg }}</i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md">
            <div class="d-flex justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
                <div class="p-3 text-center text-md-left">
                    <div class="col-12">
                        <h2 class="h2 m-0">Nenhum componente selecionado</h2>
                    </div>
                </div>
                <div class="h-100 d-flex align-items-center justify-content-center mr-0 mr-md-4">
                    <div class="pcbuilder-select">
                        <button type="button" class="pcbuilder-quantity-select btn py-3 px-4" data-modal-id="{{ id }}" data-step="{{ loop.index0 }}">
                            <span>Selecionar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>