<div class="col-12 col-md p-3">
    <div class="h-100 d-flex align-items-center justify-content-start">
        <div class="p-4 p-md-5 text-center text-md-left w-100">
            <h2 class="h2 m-0">Selecione os componentes</h2>
        </div>
    </div>
</div>
<div class="col-12 col-md-2 mb-5 mb-md-0">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="pcbuilder-select">
            <button type="button" class="pcbuilder-quantity-select btn py-3 px-4" data-modal-id="{{ id }}" data-step="{{ loop.index0 }}">
                <span>Selecionar</span>
            </button>
        </div>
    </div>
</div>