.page-teaser {
    .header,
    .footer {
        border-color: $border-color !important;
    }

    .footer-logo {
        border-top: 0;
    }

    .container-fluid {
        padding: 0;
    }

    .main {
        min-height: 60rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-down(xs){
            min-height: 40rem;
            padding: 3rem;
        }

        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .btn {
            min-width: 20rem;
            padding: 1rem 1.8rem;

            @include media-breakpoint-down(xs){
                width: 100%;
            }
            
            &:hover {
                span {
                    color: #fff;
                }
            }
        }
    }

    .video-btn {
        width: 4rem;
        height: 4rem;
    }
}