<div class="footer-top f-sc-background">
    <div class="container">
        <div class="row justify-content-center align-items-start">
            {% include 'footers/4/footer-newsletter.twig' %}
        </div>
    </div>
</div>