{% set menu_footer = navigation[section.settings.menu_footer] %}
{% set menus = menu_footer.values %}
{% set hasLogo = (section.settings.logo_dark or section.settings.logo_light) ? true : false %}

<div class="footer-middle">
    <div class="{{ container }}">
        <div class="row justify-content-between align-items-start">
            <div class="col-12 {% if menus|length > 0 %}col-md-3{% else %}col-md{% endif %}">
                {% if hasLogo %}
                    {% include 'header-logo.twig' with { 'max_height': logo_max_height, 'align': 'left' } %}
                {% endif %}
                <div {% if hasLogo %}class="mt-5"{% endif %}>
                    {% include 'footer-contact.twig' %}
                </div>
            </div>
            {% if menus|length > 0 %}
                <div class="col-12 col-md-3">
                    {% include 'footer-navigation.twig' %}
                </div>
            {% endif %}
            <div class="col-12 col-md">
                {% include 'footer-payment.twig' %}
                <div {% if section.settings.seal_payment %}class="mt-5"{% endif %}>
                    {% include 'footer-security.twig' %}
                </div>
            </div>
            <div class="col-12 col-md-auto">
                {% include 'footer-social.twig' %}
                {% if section.settings.seal_certificate %}
                    <div class="mt-5">
                        {% include 'footer-certificate.twig' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>