.btn {
    font-family: $mn-ff;
    font-weight: $mn-fw;
    font-size: $mn-cs;
    letter-spacing: $mn-cl;
    text-indent: $mn-cl;
    text-transform: $mn-tt;
	background: $color-secondary;
	color: $text-color-secondary;
    padding: 1rem 2rem;
    font-style: $mn-st;
}