{% set title = section.settings.newsletter_title ?: null %}

<div class="footer-newsletter">

    {% include 'footer-title.twig' with { 'title' : title } %}

    <div class="row flex-column">
        <div class="col-auto">
            <form class="newsletter-form row no-gutters position-relative" data-url="{{ 'newsletter' | action ('add') }}" method="post">
                <input type="hidden" name="form_type" value="newsletter">
                <input type="text" name="empty" style="display: none;">

                <div class="col-auto">
                    <input class="footer-input w-100" minlength="3" aria-label="name" name="name" placeholder="Seu nome" required type="text">
                </div>

                <div class="col-auto">
                    <input class="footer-input w-100" aria-label="email" name="email" placeholder="Seu e-mail" required type="email">
                </div>

                <button class="btn footer-submit {% if version %}f-hl-background{% else %}f-hl-background{% endif %}" name="button" type="submit">
                    <span class="text {% if section_highlight %}f-pr-color{% endif %}">OK</span>
                </button>

                <div class="footer-success">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <span class="text h3 m-0">Cadastro realizado com sucesso</span>
                    </div>
                </div>
    
                <div class="footer-errors">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <span class="text h3 m-0">E-mail já cadastrado</span>
                    </div>
                </div>

                <div class="footer-loader">
                    <span class="loader"></span>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'scripts/newsletter.twig' %}
