{# <div class="sidebar-block sidebar-block--seo">
    <div class="sidebar-block__header">
        <h3 class="h3 m-0">{{ collection.name }}</h3>
    </div>
    <div class="sidebar-block__content">
        {{ collection.description | richtext | raw }}
    </div>
</div> #}
