.header-1 {
    .smart-search {
        &>.row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .navigation {
        .row {
            .col:last-of-type {
                .navigation-link {
                    .navigation-separator {
                        display: none;
                    }
                }
            }
        }
    }

    .header-bottom>.container>.row>.col {
        position: unset;
    }

    // &.version {
    //     .smart-button {
    //         min-width: 5rem;
    //         background: $color-secondary;

    //         .icon {
    //             justify-content: center;
    //             color: $text-color-secondary !important;
    //         }
    //     }
    // }
}

/*
 * Custom Header Grid
 */
$dc-gutter: 4rem;
$dc-max-width: 124.5rem;

.header-1 {
    .container {
        max-width: 1220px;
    }

    .container-fluid {
        padding-right: $dc-gutter/2 + 1rem;
        padding-left: $dc-gutter/2 + 1rem;
    }   

    .header-middle {
        .container {
            max-width: $dc-max-width;
        }

        .container,
        .container-fluid {
            padding-right: $dc-gutter/2;
            padding-left: $dc-gutter/2;
        }

        .row {
            margin-right: -$dc-gutter/2;
            margin-left: -$dc-gutter/2;
        }

        .col,
        .col-auto {
            padding-right: $dc-gutter/2;
            padding-left: $dc-gutter/2;
        }

        .smart-search {
            &>.row {
                margin: 0;
            }
        }
    }
}