{% set show_section = true %}
{% set hide_mobile = section.settings.hide_mobile ?: null %}
{% set hide_desktop = section.settings.hide_desktop ?: null %}

{% if hide_mobile and hide_desktop %}
    {% set s = 'd-none' %}
{% elseif hide_mobile %}
    {% set s = 'd-none d-lg-block' %}
{% elseif hide_desktop %}
    {% set s = 'd-block d-lg-none' %}
{% endif %}

{% if show_section %}
    <div class="{{ s }}">
        {% include 'section-header.twig' with { 'name': 'image-highlights-topics' } %}

            {% set blocks = section.blocks | length %}
            {% set main_image = section.settings.main_image ?: null %}

            {% if blocks <= 1 %}
                {% if not section.blocks[0].settings.title and not section.blocks[0].settings.text %}
                    {% set blocks = 4 %}
                    {% set section = {
                        blocks: [
                            {
                                settings: {
                                    title: "MATERIAL",
                                    text: "Produzido no Brasil",
                                    button_text: "Veja mais"
                                }
                            },
                            {
                                settings: {
                                    title: "APARÊNCIA",
                                    text: "Design internacional",
                                    button_text: "Veja mais"
                                }
                            },
                            {
                                settings: {
                                    title: "QUALIDADE",
                                    text: "Produto certificado",
                                    button_text: "Veja mais"
                                }
                            },
                            {
                                settings: {
                                    title: "FUNCIONALIDADE",
                                    text: "Fácil de usar",
                                    button_text: "Veja mais"
                                }
                            },
                        ]
                    } %}
                {% endif %}
            {% endif %}

            <div class="row justify-content-center">
                {% include 'topics.twig' %}

                    <div class="mt-5 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
                        {% if not main_image and _get.preview %}
                            {% include 'placeholder.twig' with { flex: true } %}
                        {% endif %}

                        {% if main_image %}
                            <img loading="lazy" src="{{ main_image | img_url }}" class="img-fluid lazy" alt="{{ main_image | img_url | get_filename }}">
                        {% endif %}
                    </div>

                {% if blocks > 2 %}
                    {% set params = { 'type': 'end' } %}
                    {% include 'topics.twig' with params %}
                {% endif %}
            </div>

        {% include 'section-footer.twig' %}
    </div>
{% endif %}

{% schema %}
{
    "name": "Imagem com tópicos",
    "category": "Conteúdo",
    "content_for_index": "1",
    "max_blocks": 4,
    "settings": [
        {
            "type": "accordion",
            "content": "Conteúdo",
            "icon": "content"
        },
        {
        	"type": "text",
          	"id": "section_name",
          	"label": "Identificação da seção",
            "info": "Exemplo: Banner de promoções",
          	"default": ""
        },
        {
            "type": "text",
            "label": "Título",
            "id": "title"
        }, {
            "type": "text",
            "label": "Subtítulo",
            "id": "subtitle"
        }, {
            "type": "accordion",
            "content": "Aparência",
            "icon": "design"
        },{
            "type": "checkbox",
            "label": "Não exibir em dispositivos móveis",
            "id": "hide_mobile",
            "default": 0
        },{
            "type": "checkbox",
            "label": "Não exibir em desktop",
            "id": "hide_desktop",
            "default": 0
        },{
            "type": "separator"
        },{
			"type": "text",
			"id": "custom_class",
			"label": "Classe customizada para editar o css"
		},{
            "type": "select",
            "id": "container",
            "label": "Estilo do conteúdo",
            "tooltip": "Você poderá definir o se o conteúdo da seção é centralizado ou Adaptável à largura da tela.",
            "default": "container",
            "options": [{
                    "value": "container",
                    "label": "Centralizado"
                },
                {
                    "value": "container-fluid",
                    "label": "Adaptável à largura da tela"
                }
            ]
        }, {
            "type": "separator"
        },{
            "type": "color_picker",
            "id": "title_color",
            "label": "Cor do título"
        }, {
            "type": "color_picker",
            "id": "subtitle_color",
            "label": "Cor do subtítulo"
        }, {
            "type": "color_picker",
            "id": "background_color",
            "label": "Cor de fundo da seção"
        }, {
            "type": "color_picker",
            "id": "topic_background_color",
            "label": "Cor de fundo do tópico"
        }, {
            "type": "color_picker",
            "id": "border_color",
            "label": "Cor da borda de seção"
        },{
            "type": "image_picker",
            "id": "background_image",
            "label": "Imagem de fundo da seção",
            "info": "Recomendado: 1600x600px com até 250kb"
        },{
            "type": "checkbox",
            "label": "Imagem fixa de fundo",
            "id": "background_parallax"
        }, {
            "type": "range",
            "id": "border_size",
            "min": "0",
            "max": "10",
            "default": "1",
            "label": "Espessura da borda de seção"
        }, {
            "type": "range",
            "id": "margin_up",
            "min": "0",
            "max": "10",
            "default": "10",
            "label": "Margem de cima da seção"
        }, {
            "type": "range",
            "id": "margin_dw",
            "min": "0",
            "max": "10",
            "default": "10",
            "label": "Margem de baixo da seção"
        }, {
            "type": "header",
            "content": "Imagem principal"
        }, {
            "type": "image_picker",
            "id": "main_image",
            "label": "Imagem",
            "info": "Recomendado: 600x800px"
        }
    ],
    "blocks": [
        {
	        "type": "image",
			"name": "Tópicos",
	        "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Imagem",
                    "info": "Recomendado: 400x300px"
                },{
                    "type": "text",
                    "id": "title",
                    "label": "Título"
                }, {
                    "type": "textarea",
                    "id": "text",
                    "label": "Descrição"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Texto do botão"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Link do botão"
                },
                {
                    "type": "checkbox",
                    "label": "abrir em nova aba",
                    "id": "button_blank",
                    "default": 0
                },
                {
                    "type": "color_picker",
                    "id": "button_bg_color",
                    "label": "Cor de fundo do botão"
                },
                {
                    "type": "color_picker",
                    "id": "button_text_color",
                    "label": "Cor de texto do botão"
                }
            ]
		}
    ]
}
{% endschema %}
