{% set show_section = true %}
{% set hide_mobile = section.settings.hide_mobile ?: null %}
{% set hide_desktop = section.settings.hide_desktop ?: null %}

{% if hide_mobile and hide_desktop %}
    {% set s = 'd-none' %}
{% elseif hide_mobile %}
    {% set s = 'd-none d-lg-block' %}
{% elseif hide_desktop %}
    {% set s = 'd-block d-lg-none' %}
{% endif %}

{% if show_section %}
    <div class="{{ s }}">
        {% include 'section-header.twig' with { 'name': 'latest-blog-posts' } %}

            {% set blog_limit = section.settings.limit ?: 3 %}
            {% set ppl = section.settings.ppl ?: 4 %}
            {% set post_background_color = section.settings.post_background_color ?: 'transparent' %}

            {% set blog_posts = _getPosts({ limit: blog_limit }) %}
            {% set posts = blog_posts.data %}

            {% if posts|length <= 0 %}
                {% set posts = [
                    {
                        name: "Última postagem"
                    },
                    {
                        name: "Última postagem"
                    },
                    {
                        name: "Última postagem"
                    }
                ] %}
            {% endif %}

            <div class="row justify-content-center mt-5">
                {% for post in posts %}
                    {% if post.slug %}
                        <div class="col-sm-12 col-md-6 col-lg-{{ ppl }} d-flex align-items-stretch mb-3">
                            {% include "blog-card.twig" %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row mt-5">
                <div class="col-12 text-center p-4">
                    <a class="link" href="/blog">Acessar blog</a>
                </div>
            </div>

        {% include 'section-footer.twig' %}
    </div>
{% endif %}

{% schema %}
{
    "name": "Últimas do blog",
    "category": "Conteúdo",
    "content_for_index": "1",
    "settings": [
        {
            "type": "accordion",
            "content": "Conteúdo",
            "icon": "content"
        },
        {
            "type": "text",
            "label": "Título",
            "id": "title"
        }, {
            "type": "text",
            "label": "Subtítulo",
            "id": "subtitle"
        }, {
            "type": "accordion",
            "content": "Aparência",
            "icon": "design"
        },{
            "type": "checkbox",
            "label": "Não exibir em dispositivos móveis",
            "id": "hide_mobile",
            "default": 0
        },{
            "type": "checkbox",
            "label": "Não exibir em desktop",
            "id": "hide_desktop",
            "default": 0
        },{
            "type": "separator"
        },{
			"type": "text",
			"id": "custom_class",
			"label": "Classe customizada para editar o css"
		},{
            "type": "select",
            "id": "container",
            "label": "Estilo do conteúdo",
            "tooltip": "Você poderá definir o se o conteúdo da seção é centralizado ou adaptável a largura da tela.",
            "default": "container",
            "options": [{
                    "value": "container",
                    "label": "Centralizado"
                },
                {
                    "value": "container-fluid",
                    "label": "Adaptável a largura da tela"
                }
            ]
        }, {
            "type": "select",
            "id": "ppl",
            "label": "Quantidade de blocos por linha",
            "tooltip": "Você poderá definir a quantidade de blocos por linha",
            "default": "4",
            "options": [
                {
                    "value": "4",
                    "label": "3"
                },
                {
                    "value": "3",
                    "label": "4"
                },
                {
                    "value": "2",
                    "label": "6"
                }
            ]
        }, {
            "type": "range",
            "id": "limit",
            "min": "3",
            "max": "6",
            "default": "3",
            "label": "Número de postagens exibidas"
        },{
            "type": "separator"
        }, {
            "type": "color_picker",
            "id": "title_color",
            "label": "Cor do título"
        }, {
            "type": "color_picker",
            "id": "subtitle_color",
            "label": "Cor do subtítulo"
        },{
            "type": "color_picker",
            "id": "button_bg_color",
            "label": "Cor de fundo do botão"
        },{
            "type": "color_picker",
            "id": "button_text_color",
            "label": "Cor de texto do botão"
        }, {
            "type": "color_picker",
            "id": "background_color",
            "label": "Cor de fundo da seção"
        }, {
            "type": "color_picker",
            "id": "post_background_color",
            "label": "Cor de fundo do post"
        }, {
            "type": "color_picker",
            "id": "border_color",
            "label": "Cor da borda de seção"
        },{
            "type": "image_picker",
            "id": "background_image",
            "label": "Imagem de fundo da seção",
            "info": "Recomendado: 1600x600px com até 250kb"
        },{
            "type": "checkbox",
            "label": "Imagem fixa de fundo",
            "id": "background_parallax"
        }, {
            "type": "range",
            "id": "border_size",
            "min": "0",
            "max": "10",
            "default": "1",
            "label": "Espessura da borda de seção"
        }, {
            "type": "range",
            "id": "margin_up",
            "min": "0",
            "max": "10",
            "default": "10",
            "label": "Margem de cima da seção"
        }, {
            "type": "range",
            "id": "margin_dw",
            "min": "0",
            "max": "10",
            "default": "10",
            "label": "Margem de baixo da seção"
        }
    ]
}
{% endschema %}
