<div class="footer-top">
    <div class="{{ container }}">
        <div class="row justify-content-between align-items-start">
            <div class="col-sm-12 col-md-auto col-lg-auto">
                {% if section.settings.logo_dark or section.settings.logo_light %}
                    <div class="mb-3 f-sc-color">
                        {% include 'header-logo.twig' with { 'max_height': logo_max_height, 'align': 'left' } %}
                    </div>
                {% endif %}
                {% include 'footer-navigation.twig' %}
            </div>
            <div class="col-sm-12 col-md-auto col-lg-auto">
                {% include 'footer-contact.twig' %}
            </div>
            <div class="col-sm-12 col-md-auto col-lg-auto">
                {% include 'footers/' ~ type ~ '/footer-newsletter.twig' %}
            </div>
        </div>
    </div>
</div>
