{% set color = section.settings.highlight_color ?: theme.settings.color_primary %}

{% if not section.settings.highlight_color and section.settings.version %}
    {% set color = theme.settings.color_highlight %}
{% endif %}

{% if not theme.settings.hide_footer_social_icons %}
    <div class="footer-bottom" style="background-color: {{ color }};">
        <div class="{{ container }}">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                    {% include 'footer-social.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
