@mixin loader ($loader-color: #e0e0e0, $loader-size: 5rem) {
    position: relative;
    height: $loader-size;
    width: $loader-size;
    z-index: 99;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        border-width: ($loader-size/4 - 2);
        border-style: solid;
        border-top-color: transparentize($loader-color, .8);
        border-right-color: transparentize($loader-color, .8);
        border-bottom-color: transparentize($loader-color, .5);
        border-left-color: transparentize($loader-color, .5);
        transform: translateZ(0);
        animation: animationLoader 0.5s infinite linear;
        border-radius: 50%;
        width: $loader-size;
        height: $loader-size;
        margin: -($loader-size / 2);
    }
}

@keyframes animationLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}