/**
 * Navigation
 *
 **/

@mixin mobile-menu () {
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100%;
    transform: translateX(-30vw);
    background: #fff;
    @include transition;

    @include breakpoint('max-width: #{$bp-md}') {
        width: 85vw;
        transform: translateX(-85vw);
    }

    &__container {
        padding: 0;
        background: none;
        max-height: 100vh;
        overflow: scroll;
    }

    &__list {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1.5rem 0;
    }

    &__item {
        display: flex;
        align-items: stretch;
        position: static;
        margin: 0;
        height: 4.5rem;

        &>.link {
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: 1rem 3rem;
            @include title(1.2rem, 500, $color-primary);
            text-transform: uppercase;
            border: none;
            letter-spacing: 0;

            @include breakpoint('max-width: #{$bp-sm}') {
                padding: 1rem;
            }

            .icon {
                display: block;
                width: 2rem;
                color: $color-secondary;
                order: 2;
            }

            .text {
                flex-grow: 1;
                order: 2;
            }
        }

        &--back {
            .link {

                .icon {
                    order: 1;
                    margin-right: 1rem;
                }

                .text {
                    order: 2;
                }
            }
        }

        &:hover {
            border-color: $border-color;
            background: none;

            &>.link {
                background: none;
            }

            &>.menu-dropdown {
                box-shadow: none;
            }
        }
    }

    &.is-open {
        transform: translateX(0);
        display: block;
        z-index: 99;

        @include breakpoint('max-width: #{$bp-md}') {
            transform: translateX(0);
        }
    }

    .submenu__item,
    .menu-dropdown__item {
        &--all {
            border-bottom: solid .1rem $border-color;
            display: flex;
            justify-content: space-between;
            padding: 1.8rem 3rem 3.3rem;
            margin-bottom: 1.5rem;

            @include breakpoint('max-width: #{$bp-sm}') {
                padding: 1rem;
            }

            .icon {
                display: block;
                height: 2rem;
                width: 2rem;
                color: $color-primary;
            }

            &>.link {
                color: $text-color;
                justify-content: flex-end;
                text-align: right;
                padding: 0;

                .text {
                    margin-right: .4rem;
                }
            }

            .dropdown-back {
                flex-grow: 1;
                min-width: 50%;
                display: flex;
                align-self: center;

                &>.link {
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $color-primary;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0;
                    font-family: $font-family-headings;

                    .text {
                        margin-left: 1rem;
                        line-height: 1;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
