<nav class="navigation">
	<div class="row justify-content-end">
		<div class="col-auto">
			<a class="nav-menu d-flex align-items-center {% if section_secondary %}h-sc-color{% endif %}" href="javascript:void(0)">
				<i class="mr-3">
					<i class="{% if section_highlight %}h-hl-color{% else %}h-sc-color{% endif %} material-icons">menu</i>
				</i>
				<span>MENU</span>
			</a>
		</div>
	</div>
</nav>
