<div class="page-default">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cms">
                    {{ page.description | richtext | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
