{% section 'banners-carousel' %}

<div class="blog">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-lg">
                {% include 'blog-post.twig' %}
                <div class="mt-5">
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <div class="col-12 col-lg-auto">
                {% include 'blog-filter.twig' %}
            </div>
        </div>
    </div>
</div>

{% section 'products-showcase' %}

{# <div class="blog-post">
    {% section 'blog-header' %}
    
    <div class="blog-filter">
        <div class="container">
            <div class="row p-4 align-items-center justify-content-center">
                {% include 'blog-filter.twig' %}
            </div>
        </div>
    </div>
    
    <div class="blog-post mt-5">
        <div class="container">
            {% include 'blog-post.twig' %}
            <div class="mt-5">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>

    <div class="blog-related mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="h1 m-0">Postagens relacionadas</h2>
            </div>

            <div class="row mt-5 p-4 justify-content-center">
                {% include 'blog-related.twig' %}
            </div>
        </div>
    </div>
</div> #}