{% if template == 'product' and product.kit %}    
    {% javascript %}
        $(function() {
            // Product
            var grid_id = '{{ product.grid_id }}';
            
            /*
             * Watch nos atributos selecionados
             * @return void
             */
            $('body').delegate('.product-attribute-action', 'change', function() {
                var component = $(this).closest('.customize-product-component');
                var variation = component.find("input[name*='variation_id']");

                var selects = $('select option:selected');
                var product = component.find('.product-attribute').data('json');
                var variations = product.variations;

                var attrs = [];

                selects.each(function() {
                    attrs.push($(this).val());
                });

                for (var i = 0; i < variations.length; i++) {
                    var item = variations[i];

                    if (item.attribute_value_id == parseInt(attrs[0]) && item.attribute_value_secondary_id == parseInt(attrs[1])) {
                       variation.val(item.id);
                    }
                }

                updateCustomize();
            });
            
            /*
             * Watch nos componentes selecionados
             * @return void
             */
            $('body').delegate(".customize-product-radio input[type='radio']", 'change', function () {
                updateCustomize();
            });

            /*
             * Formata todos os dados do form para o ajax
             * @return object
             */
            var getData = function() {
                var form = $('.customize-product');
                var container = form.find('.customize-product-ajax');

                    // variables
                    var components = $('.customize-product-component');
                    var components_ids = [];
                    var components_variations = [];
                    
                    components.each(function() {
                        var component = $(this);
                        var checked = component.find("input[name*='product_component_id']:checked");

                        if (checked.length > 0) {                        
                            components_ids.push(checked.val());
                            var variation_id = component.find("input[name*='variation_id']:checked");
								
                            if (!variation_id.val()) {
                            	variation_id = component.find("input[name*='variation_id']");
                            }
                         
                            components_variations.push(variation_id.val());
                        }
                    });

                    if (components_ids && components_variations) {
 
                        var data = {};
                        var variations = components_variations;
                        var product_component_ids = components_ids.join(',').toString();
                        var attributes_secondary_ids = [];
                        
                        var _items = form.serializeArray();
                        if (_items.length > 0) {
                        	for (var i = 0; i < _items.length; i++) {
                            	var item = _items[i];
                                if (item.name.includes('attributes')) {
                                    attributes_secondary_ids.push(item)
                                }
                            }
                        }
                        
                        data.grid_id = grid_id;
                        data.variations = variations;
                        data.product_component_ids = product_component_ids;
						data.attributes = attributes_secondary_ids;
                        
                        return data;
                    }
            };

            /*
             * Atualiza o customizador com os novos componentes
             * @return void
             */
            var updateCustomize = function() {
                var form = $('.customize-product');
                var container = form.find('.customize-product-ajax');
				
                setTimeout(function(){ 
                    var url = '{{ product.url }}';
                    var xhr = _dcs.Xhr(url);

                    loader(true);
                        
                    var data = getData();

                    xhr.get({
                        id: 'customize-product',
                        data: data
                    }).done(function(html) {
                        container.empty();
                        container.append(html);
                            
                        xhr.get({
                            id: 'product-action',
                            data: data
                        }).done(function(html) {
                            $('.product-action').empty();
                            $('.product-action').append(html);
                            updatePrice();
                            loader(false);
                        }).fail(function() {
                            loader(false);
                        });
                    }).fail(function() {
                        loader(false);
                    });
                }, 200);
            };

            /*
             * Atualizar o preço do produto final
             * @return void
             */
            var updatePrice = function() {
                var product_info = $('.product-info-content');
                var quick_buy = $('.quick-buy');
                var new_price_pi = $('.customize-product .product-info .product-action-price').html();
                var new_price_qb = $('.customize-product .quick-buy .product-action-price').html();
                product_info.find('.product-action-price').empty();
                quick_buy.find('.product-action-price').empty();  
                product_info.find('.product-action-price').append(new_price_pi);
                quick_buy.find('.product-action-price').append(new_price_qb);  
            };

            /*
             * Retorna uma string dos componentes selecionados
             * @return String
             */
            var getComponents = function() {
                var arr = [];
                $("input[name*='product_component_id']:checked").each(function() {
                    arr.push($(this).val());
                });
                return arr.join(',').toString();
            };

            /*
             * FadeIn/FadeOut loader
             * @param status Boolean
             * @return void
             */
            var loader = function(status = false) {
                var loader = $('.customize-product-loader');
                (status) ? loader.fadeIn() : loader.fadeOut();
            };

            /*
             * Ativar o slider da modal de detalhe
             * @return void
             */
            $('.customize-modal-images').each(function() {
                $(this).owlCarousel({
                    autoheight: true,
                    dots: true,
                    items: 1
                });
            });

            /*
             * Scroll até o customizador
             * @return void
             */
            $('.product-action-personalize').on('click', function() {
                var header_fixed = $('.header-fixed').outerHeight() + 40;

                if ($('.styleheader').length > 0) {
                    header_fixed = $('.header-box').outerHeight() + 40;
                }

                var customize = $('.customize-product').offset().top;
                var diff = customize - header_fixed;
                $('html, body').animate({
                    scrollTop: diff
                }, 1000);
            });

            $('body').delegate('.customize-product-button input', 'click', function() {
                var _this = $(this);
                var _parent = _this.closest('.customize-product-component');
                var isChecked = _parent.find("input[name*='product_component_id']:checked");

                if (isChecked.length > 0) {
                    updateCustomize();
                } else {
                    var html = `
                        <div class="alert-shipping col-12 m-0 customize-product-alert">
                            <span>Selecione o produto primeiro</span>
                        </div>
                    `;

                    _parent.find('.customize-product-title').append(html);

                    return false;
                }
            });

            /*
             * Adicionar ao carrinho
             * @return void
             */
            $('body').delegate('.product-action__bt-buy, .product-action-buy', 'click', function(e) {
                e.preventDefault();
                e.stopPropagation();

                var customizeMessage = false;
                var offsetTop = false;

                $('.customize-product-component').each(function() {
                    var checked = $(this).find("input[type='radio']:checked");

                    if (checked.length > 0) {
                        var select = $(this).find('.select');
                        var button = $(this).find('.customize-product-button');

                        if (button) {
                            if (button.length > 0) {
                                var hasActive = false;

                                button.each(function() {
                                    if ($(this).hasClass('active')) {
                                        hasActive = true;
                                    }
                                });

                                if (!hasActive) {
                                    customizeMessage = true;

                                    var html = `
                                        <div class="alert-shipping col-12 m-0 customize-product-alert">
                                            <span>Por favor selecione uma variação</span>
                                        </div>
                                    `;

                                    $(this).find('.alert-shipping').remove();
                                    $(this).find('.customize-product-title').append(html);

                                    if(!offsetTop) {
                                        offsetTop = $(this).offset().top;

                                        if (!window.is_mobile) {
                                            offsetTop = offsetTop - $('.header-fixed').outerHeight();
                                        }

                                        offsetTop = offsetTop - 30;
                                    }
                                } else {
                                    $(this).find('.alert-shipping').remove();
                                }
                            }
                        }

                        if (select) {
                            if (select.length > 0) {
                                var hasSelectedVariation = select.val();
                                
                                if (!hasSelectedVariation) {
                                    customizeMessage = true;

                                    var html = `
                                        <div class="alert-shipping col-12 m-0 customize-product-alert">
                                            <span>Por favor selecione uma variação</span>
                                        </div>
                                    `;

                                    $(this).find('.alert-shipping').remove();
                                    $(this).find('.customize-product-title').append(html);

                                    if(!offsetTop) {
                                        offsetTop = $(this).offset().top;

                                        if (!window.is_mobile) {
                                            offsetTop = offsetTop - $('.header-fixed').outerHeight();
                                        }

                                        offsetTop = offsetTop - 30;
                                    }
                                } else {
                                    $(this).find('.alert-shipping').remove();
                                }
                            }
                        }
                    } 
                });

                if (customizeMessage) {  
                    if (offsetTop > 0) {
                        $('html, body').animate({
                            scrollTop: offsetTop 
                        }, 1500);
                    }
                                  
                    return false;
                } else {
                    var submitButton = $('.customize-product').find('#buy-kit');

                    if ($('.personalize-product').length > 0) {
                        var personalize_html = $('.personalize-product').html();
                        $('<div class="d-none">'+personalize_html+'</div>').appendTo('.customize-product');
                    }

                    if (submitButton.length > 0) {
                        submitButton.trigger('click');
                    } else {
                        $('.customize-product').submit();
                    }

                    return false;
                }
            });
            
            /*
             * Abrir modal
             * @return void
             */
             $('body').delegate(".customize-product-detail", 'click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                openModal($(this).data('id'));
            });

            /*
             * Abrir uma modal
             * @param id Integer
             * @return void
             */
            var openModal = function(id) {
                var modal = $('#customize-modal-' + id);
                var modal_bg = $('.customize-product-modalbg');
                modal_bg.fadeIn(500);
                modal.addClass('open');
            };

            /*
             * Fechar uma modal
             * @return void
             */
            $('body').delegate(".customize-modal-close", 'click', function () {
                var modal_bg = $('.customize-product-modalbg');
                var modal = $('#customize-modal-' + $(this).data('id'));
                modal.removeClass('open');
                modal_bg.fadeOut(500);
                $('body').removeClass('no-scroll');
            });

            /*
             * Fechar uma modal
             * @return void
             */
            $('body').delegate(".customize-product-modalbg", 'click', function () {
                var modal_bg = $('.customize-product-modalbg');
                $('body').removeClass('no-scroll');
                $('.customize-modal').each(function() { $(this).removeClass('open'); });
                modal_bg.fadeOut(500);
            });

            {% if section.settings.variation_select_type == 'buttons' %}
            /*
             * Selecionar uma variação de um produto do kit por botões
             * @return void
             */
            $('body').delegate('.customize-product-buttons', 'click', function (e) {

                var _this = $(this);
                var target = $(e.target);
                
                var _parent = _this.closest('.customize-product-component');
                var isChecked = _parent.find("input[name*='product_component_id']:checked");

                if (isChecked.length > 0) {
                    _this.find('.customize-product-button').removeClass('active');
                    target.parent().addClass('active');
                } else {
                    return false;
                }
            });
            {% endif %}

            $('.customize-product-group').each(function() {
                var components = $(this).find('.customize-product-components');
                
                if (components.find('.customize-product-component.d-flex').length <= 0) {
                    $(this).find('.customize-product-alert').removeClass('d-none');
                } 
            });
        });
    {% endjavascript %}
{% endif %}