.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    &.visible-desktop {
        @include media-breakpoint-up(lg) {
            .banner-mask {
                opacity: 0.6;
            }

            .banner-info {
                opacity: 1;
            }
        }
    }

    &.visible-mobile {
        @include media-breakpoint-down(lg) {
            .banner-mask {
                opacity: 0.6;
            }

            .banner-info {
                opacity: 1;
            }
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        opacity: 0;
    }

    &:hover {
        @include media-breakpoint-up(md) {
            .banner-bg {
                transform: scale(1.1);
            }
            
            .banner-mask {
                opacity: 0.6;

                @for $i from 0 through 10 {
                    &.op-#{$i} {
                        @if $i == 10 {
                            opacity: 1;
                        } @else {
                            opacity: $i / 10;
                        }
                    }
                }
            }

            .banner-info {
                opacity: 1;
            }
        }
    }

    &.no-zoom {
        &:hover {
            @include media-breakpoint-up(md) {
                .banner-bg {
                    transform: unset;
                }
            }
        }
    }

    &.h1-title {
        .h3 {
            font-family: $h1-ff;
            font-weight: $h1-fw;
            font-size: $h1-fs;
            letter-spacing: $h1-cl;
            text-transform: $h1-tt;
        }
    }
}

.banner-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.75s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.banner-info {
    z-index: 10;
}

.banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.banner-info,
.banner-mask {
    transition: opacity ease .15s;
    opacity: 0;
}

.banner-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}