.cart-redirect-modal {
    min-width: 42rem;
    display: none;

    .modal & {
        display: block;
    }

    @include media-breakpoint-down(sm) {
        min-width: 100%;
    }

    .icon {
        display: flex;
        max-width: 6rem;
        max-height: 6rem;
        margin: 0 auto;
        color: $color-secondary;
    }

    .h2 {
        color: $color-primary;
    }

    .row.justify-content-center:nth-child(1) {
        border-bottom: solid .1rem $border-color;
    }

    .cart-redirect-continue {
        background: $color-secondary;
        border-color: $color-secondary;
        font-size: 1.4rem !important;
        font-weight: 600;
        padding: .7rem 2rem;
        min-height: 4.5rem;
    }

    .cart-redirect-checkout {
        background: $color-primary;
        border-color: $color-primary;
        font-size: 1.2rem !important;
        padding: .7rem 2rem;
    }
}

#cart-redirect-modal {
    .modal__overlay {
        background: $color-primary;
        opacity: 0.8;
    }

    .modal__container {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

[id^=cart-redirect-modal] {
    .modal__container {
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: unset;
            width: 80%;
            height: 60%;
            padding: 1.5rem;
        }
    }

    .modal__content {
        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}